body{
    background:linear-gradient(to right, #1DD9D9, #C2E2E2, #1DD9D9);
    min-width: 320px;
    max-width: 100%;
}

img{
    max-width: 100%;
    height: auto;
}

input[type=text] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.home{
    position: fixed;
    max-width: 90%;
    height: 10px;
    font-weight: 100px;
}

select{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password]{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form{
    margin-top: 10px;
    margin-left: 100px;
    text-align: center;
}

button{
    width: 200px;
    height: 50px;
    font-size: large;
    font-family: Brush Script MT, Brush Script Std, cursive;
    background-color: aqua;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: black;
}
.Tortillo{
    position: relative;
    width: auto;
    text-align: center;
    letter-spacing: 8px;
    font-size: xx-large;
    font-family: LeoHand;
}

.reg{
    position: relative;
    width: 7%;
    margin-left: 87%;
    margin-top: -7%;
    font-size: xx-large;
    font-family: LeoHand;
    color: #555;
}

.container{
    max-width: 1312px;
    width: 100%;
    position: relative;
    margin: auto auto;
    max-width: 100%;
}

@media(max-width: 560px){
    .container{
        padding: 0 24px;
    }
}

.entrance{
    position: relative;
    margin-left: 161px;
    margin-top: 20px;
}

.registration{
    position: relative;
    margin-left: 899px;
    margin-top: -50px;
}

.menu{
    position: relative;
    margin-left: 161px;
    margin-top: 50px;
    border: none;
    max-width: 100%;
}

.reviews{
    position: relative;
    margin-left: 540px;
    margin-top: -50px;
    border: none;
}

.decoration{
    position: relative;
    margin-left:899px;
    margin-top: -50px;
    border: none;
}

.text_above_the_cake{
    /*position: relative;
    max-width: 100%;
    height: auto;
    letter-spacing: 8px;
    /*font-family: LeoHand;*/
    text-align: center; 
}
/*
.col{
    max-width: 100%;
}*/

.cakes{
    position: relative;
    margin-left: 450px;
    width: 400px;
    height: auto;
}

.cakes img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.cakes .but{
    position: absolute;
    top: 50%;
    width: 200px;
    margin-left: -300px;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.cakes .but:hover{
    background-color: black;
}